# requirements.txt

# Core packages
pandas
numpy
matplotlib
scipy

# Modeling
statsmodels
scikit-learn
pymc

# Time series and statistical tests
pytensor

# Optional (for dashboard or styling)
seaborn
streamlit

# Optional (if using ADF test)
statsmodels
